<footer style="background-color: var(--primary);" >
    <div class="container-fluid mt-0 py-4">
      <div class="container">
        <div class="row">
          <div class="col  d-flex flex-column">
            <h2 class="brand-name paint-white" >
              GrabItt
            </h2>

            <div class="d-flex">
              <div class="rounded-circle d-flex justify-content-center coloured-circles mt-4 shadow">
                <a href=""><i class="fas fa-envelope pt-3" style="font-size: 30px;color: var(--secondary);"></i></a>
              </div>
              <span class="mt-4 d-flex align-items-center mx-4 description paint-white" style="font-weight: bold;">grabitt@grabitt.com</span>
            </div>

            <div class="d-flex">
              <div class="rounded-circle d-flex justify-content-center coloured-circles mt-4 shadow">
                <i class="fas fa-phone pt-3" style="font-size: 30px;"></i>
              </div>
              <span class="mt-4 d-flex align-items-center mx-4 description paint-white" style="font-weight: bold;">999999999</span>
            </div>
          </div>


          <div class="col  d-flex justify-content-between align-items-center">
            <div class="d-flex">
              <div class="rounded-circle d-flex justify-content-center coloured-circles mt-4 shadow">
                <a href=""><i class="fa-brands fa-facebook pt-3" style="font-size: 30px; color: var(--secondary);"></i></a>
              </div>
            </div>
            <div class="d-flex">
              <div class="rounded-circle d-flex justify-content-center coloured-circles mt-4 shadow">
                <a href=""><i class="fa-brands fa-instagram pt-3" style="font-size: 30px; color: var(--secondary);"></i></a>
              </div>
            </div>
            <div class="d-flex">
              <div class="rounded-circle d-flex justify-content-center coloured-circles mt-4 shadow">
                <a href=""><i class="fa-brands fa-twitter pt-3" style="font-size: 30px; color: var(--secondary);"></i></a>
              </div>
            </div>
            <div class="d-flex">
              <div class="rounded-circle d-flex justify-content-center coloured-circles mt-4 shadow">
                <a href=""><i class="fa-brands fa-linkedin-in pt-3" style="font-size: 30px; color: var(--secondary);"></i></a>
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <div class="d-flex flex-column footer-container align-items-start justify-content-center">
              <div><a href="" style="font-weight: 500; font-size: 1.15rem;">About Us</a></div>
              <div><a href="" style="font-weight: 500; font-size: 1.15rem;">Home</a></div>
              <div><a href="" style="font-weight: 500; font-size: 1.15rem;">Tests</a></div>
              <div><a href="" style="font-weight: 500; font-size: 1.15rem;"> Policy</a></div>
              <div><a href="" style="font-weight: 500; font-size: 1.15rem;">Contact Us</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>