<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Courses</title>
    <%- include('./partials/styles'); %>
    <!-- External css -->
    <link rel="stylesheet" href="/css/courses.css">
    
</head>
<body>
    <!--******************* nav bar **************-->
    <%- include('./partials/navbar'); %>

    <section id="subj-container" class="container-fluid" style="background-color: var(--ash);">
        <div class="container">
            <div class="row">
              
                <div class="col-lg-8 align-self-center">
                  <div class="col-12 col-lg-9">
                    <h2 class="headline m-auto ">
                        Master the art of interview by taking tests on each topic...
                    </h2>

                    <div class="d-flex flex-wrap justify-content-between my-5">
                        <!-- Individual boxes  -->
                        <div class="size cat-1  " onclick="showHideSubTopics( 'dsa'); showHideColour('cat-1');">
                          <div class=" ">
                            <div class="rounded-circle d-flex justify-content-center coloured-circles mt-2 shadow m-auto incre align-items-center" >
                              <img src="images/maths.png"></img>
                            </div>
                            <div class="px-3 pt-2">
                              
                              <p class="text-center mb-1" style="font-weight: bold">
                                DSA
                              </p>
                              
                            </div>
                          </div>
                        </div>
              
                        <!-- Individual boxes  -->
                        <div class="size cat-2  "onclick="showHideSubTopics( 'core'); showHideColour('cat-2');" >
                          <div class=" ">
                            <div class="rounded-circle d-flex justify-content-center coloured-circles mt-2 shadow m-auto incre align-items-center" >
                              <img src="images/maths.png"></img>
                            </div>
                            <div class="px-3 pt-2">
                              
                              <p class="text-center mb-1" style="font-weight: bold">
                                Core
                              </p>
                              
                            </div>
                          </div>
                          </div>
                        <!-- Individual boxes  -->
                        <div class="size cat-3  "onclick="showHideSubTopics('aptitude'); showHideColour('cat-3');">
                          <div class="">
                            <div class="rounded-circle d-flex justify-content-center coloured-circles mt-2 shadow m-auto incre align-items-center" >
                              <img src="images/maths.png"></img>
                            </div>
                            <div class="px-3 pt-2">
                              
                              <p class="text-center mb-1" style="font-weight: bold">
                                Aptitude
                              </p>
                              
                            </div>
                          </div>
                          </div>
                        <!-- Individual boxes  -->
                        <div class="size cat-4 "onclick="showHideSubTopics('verbal');showHideColour('cat-4'); " >
                          <div class=" ">
                            <div class="rounded-circle d-flex justify-content-center coloured-circles mt-2 shadow m-auto incre align-items-center" >
                              <img src="images/maths.png"></img>
                              <!-- <i class="fas fa-book-open pt-3" style="font-size: 30px; color: var(--primary)"></i> -->
                            </div>
                            <div class="px-3 pt-2">
                              
                              <p class="text-center mb-1" style="font-weight: bold">
                                Verbal
                              </p>
                              
                            </div>
                          </div>
                          </div>
                      </div>

                  </div>
                </div>
                <div class="col-lg-4">
                  <img src="/images/course.png" class="w-100" alt="" />
                  
                </div>
              </div>
        
              <!-- DSA -->
            <!-- start -->
        <div class="row my-5 d-flex flex-wrap justify-content-evenly view-topic-1 dsa">
          <!-- Individual boxes  -->
          <div class="col-lg-2 col-md-3 col-sm-6" style="width: 213px; height: 213px;">
            <div class="s-border">
              <div class="d-flex justify-content-start align-items-center mt-2" >
                <div class="rounded-circle coloured-circles shadow d-flex justify-content-center align-items-center ms-4">
                  <img src="images/arr.png" style="width: 30px; height: 30px;" ></img>
                </div>
                <p class="text-center mb-0 ms-3 underline" style="font-weight: bold">
                  Array
                </p>
              </div>
              <div class="d-flex flex-column justify-content-center" >
                <div class="d-flex justify-content-start align-items-center my-3 ">
                  <img src="images/questions.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    45 MCQs
                  </p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-3 ">
                  <img src="images/timer.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    2 hours
                  </p>
                </div>
              </div>
              <div class="row">
                <a class="button btn  px-3 m-auto mb-2" href="#" style="width: 65%;">
                  Start
                </a>
              </div>
            </div>
            

          </div>
          <!-- end -->
          <!-- Individual boxes  -->
          <div class="col-lg-2 col-md-3 col-sm-6" style="width: 213px; height: 213px;">
            <div class="s-border">
              <div class="d-flex justify-content-start align-items-center mt-2" >
                <div class="rounded-circle coloured-circles shadow d-flex justify-content-center align-items-center ms-4">
                  <img src="images/arr.png" style="width: 30px; height: 30px;" ></img>
                </div>
                <p class="text-center mb-0 ms-3 underline" style="font-weight: bold">
                  Array
                </p>
              </div>
              <div class="d-flex flex-column justify-content-center" >
                <div class="d-flex justify-content-start align-items-center my-3 ">
                  <img src="images/questions.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    45 MCQs
                  </p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-3 ">
                  <img src="images/timer.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    2 hours
                  </p>
                </div>
              </div>
              <div class="row">
                <a class="button btn px-3 m-auto mb-2 " href="#" style="width: 65%;">
                  Start
                </a>
              </div>
            </div>
            

          </div>
          <!-- end -->
          <!-- Individual boxes  -->
          <div class="col-lg-2 col-md-3 col-sm-6" style="width: 213px; height: 213px;">
            <div class="s-border">
              <div class="d-flex justify-content-start align-items-center mt-2" >
                <div class="rounded-circle coloured-circles shadow d-flex justify-content-center align-items-center ms-4">
                  <img src="images/arr.png" style="width: 30px; height: 30px;" ></img>
                </div>
                <p class="text-center mb-0 ms-3 underline" style="font-weight: bold">
                  Array
                </p>
              </div>
              <div class="d-flex flex-column justify-content-center" >
                <div class="d-flex justify-content-start align-items-center my-3 ">
                  <img src="images/questions.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    45 MCQs
                  </p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-3 ">
                  <img src="images/timer.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    2 hours
                  </p>
                </div>
              </div>
              <div class="row">
                <a class="button btn px-3 m-auto mb-2 " href="#" style="width: 65%;">
                  Start
                </a>
              </div>
            </div>
            

          </div>
          <!-- end -->
          <!-- Individual boxes  -->
          <div class="col-lg-2 col-md-3 col-sm-6" style="width: 213px; height: 213px;">
            <div class="s-border">
              <div class="d-flex justify-content-start align-items-center mt-2" >
                <div class="rounded-circle coloured-circles shadow d-flex justify-content-center align-items-center ms-4">
                  <img src="images/arr.png" style="width: 30px; height: 30px;" ></img>
                </div>
                <p class="text-center mb-0 ms-3 underline" style="font-weight: bold">
                  Array
                </p>
              </div>
              <div class="d-flex flex-column justify-content-center" >
                <div class="d-flex justify-content-start align-items-center my-3 ">
                  <img src="images/questions.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    45 MCQs
                  </p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-3 ">
                  <img src="images/timer.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    2 hours
                  </p>
                </div>
              </div>
              <div class="row">
                <a class="button btn px-3 m-auto mb-2 " href="#" style="width: 65%;">
                  Start
                </a>
              </div>
            </div>
            

          </div>
          <!-- end -->
          <!-- Individual boxes  -->
          <div class="col-lg-2 col-md-3 col-sm-6" style="width: 213px; height: 213px;">
            <div class="s-border">
              <div class="d-flex justify-content-start align-items-center mt-2" >
                <div class="rounded-circle coloured-circles shadow d-flex justify-content-center align-items-center ms-4">
                  <img src="images/arr.png" style="width: 30px; height: 30px;" ></img>
                </div>
                <p class="text-center mb-0 ms-3 underline" style="font-weight: bold">
                  Array
                </p>
              </div>
              <div class="d-flex flex-column justify-content-center" >
                <div class="d-flex justify-content-start align-items-center my-3 ">
                  <img src="images/questions.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    45 MCQs
                  </p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-3 ">
                  <img src="images/timer.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    2 hours
                  </p>
                </div>
              </div>
              <div class="row">
                <a class="button btn px-3 m-auto mb-2 " href="#" style="width: 65%;">
                  Start
                </a>
              </div>
            </div>
            

          </div>
          <!-- end -->
          <!-- Individual boxes  -->
          <div class="col-lg-2 col-md-3 col-sm-6" style="width: 213px; height: 213px;">
            <div class="s-border">
              <div class="d-flex justify-content-start align-items-center mt-2" >
                <div class="rounded-circle coloured-circles shadow d-flex justify-content-center align-items-center ms-4">
                  <img src="images/arr.png" style="width: 30px; height: 30px;" ></img>
                </div>
                <p class="text-center mb-0 ms-3 underline" style="font-weight: bold">
                  Array
                </p>
              </div>
              <div class="d-flex flex-column justify-content-center" >
                <div class="d-flex justify-content-start align-items-center my-3 ">
                  <img src="images/questions.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    45 MCQs
                  </p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-3 ">
                  <img src="images/timer.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    2 hours
                  </p>
                </div>
              </div>
              <div class="row">
                <a class="button btn px-3 m-auto mb-2 " href="#" style="width: 65%;">
                  Start
                </a>
              </div>
            </div>
            

          </div>
          <!-- end -->
        </div>

        <!-- CORE -->
            <!-- start -->
        <div class="row my-5 d-flex flex-wrap justify-content-evenly view-topic-1 core">
          <!-- Individual boxes  -->
          <div class="col-lg-2 col-md-3 col-sm-6" style="width: 213px; height: 213px;">
            <div class="s-border">
              <div class="d-flex justify-content-start align-items-center mt-2" >
                <div class="rounded-circle coloured-circles shadow d-flex justify-content-center align-items-center ms-4">
                  <img src="images/arr.png" style="width: 30px; height: 30px;" ></img>
                </div>
                <p class="text-center mb-0 ms-3 underline" style="font-weight: bold">
                  DBMS
                </p>
              </div>
              <div class="d-flex flex-column justify-content-center" >
                <div class="d-flex justify-content-start align-items-center my-3 ">
                  <img src="images/questions.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    45 MCQs
                  </p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-3 ">
                  <img src="images/timer.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    2 hours
                  </p>
                </div>
              </div>
              <div class="row">
                <a class="button btn px-3 m-auto mb-2 " href="#" style="width: 65%;">
                  Start
                </a>
              </div>
            </div>
            

          </div>
          <!-- end -->
          <!-- Individual boxes  -->
          <div class="col-lg-2 col-md-3 col-sm-6" style="width: 213px; height: 213px;">
            <div class="s-border">
              <div class="d-flex justify-content-start align-items-center mt-2" >
                <div class="rounded-circle coloured-circles shadow d-flex justify-content-center align-items-center ms-4">
                  <img src="images/arr.png" style="width: 30px; height: 30px;" ></img>
                </div>
                <p class="text-center mb-0 ms-3 underline" style="font-weight: bold">
                  DBMS
                </p>
              </div>
              <div class="d-flex flex-column justify-content-center" >
                <div class="d-flex justify-content-start align-items-center my-3 ">
                  <img src="images/questions.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    45 MCQs
                  </p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-3 ">
                  <img src="images/timer.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    2 hours
                  </p>
                </div>
              </div>
              <div class="row">
                <a class="button btn px-3 m-auto mb-2 " href="#" style="width: 65%;">
                  Start
                </a>
              </div>
            </div>
            

          </div>
          <!-- end -->
          <!-- Individual boxes  -->
          <div class="col-lg-2 col-md-3 col-sm-6" style="width: 213px; height: 213px;">
            <div class="s-border">
              <div class="d-flex justify-content-start align-items-center mt-2" >
                <div class="rounded-circle coloured-circles shadow d-flex justify-content-center align-items-center ms-4">
                  <img src="images/arr.png" style="width: 30px; height: 30px;" ></img>
                </div>
                <p class="text-center mb-0 ms-3 underline" style="font-weight: bold">
                  DBMS
                </p>
              </div>
              <div class="d-flex flex-column justify-content-center" >
                <div class="d-flex justify-content-start align-items-center my-3 ">
                  <img src="images/questions.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    45 MCQs
                  </p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-3 ">
                  <img src="images/timer.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    2 hours
                  </p>
                </div>
              </div>
              <div class="row">
                <a class="button btn px-3 m-auto mb-2 " href="#" style="width: 65%;">
                  Start
                </a>
              </div>
            </div>
            

          </div>
          <!-- end -->
          <!-- Individual boxes  -->
          <div class="col-lg-2 col-md-3 col-sm-6" style="width: 213px; height: 213px;">
            <div class="s-border">
              <div class="d-flex justify-content-start align-items-center mt-2" >
                <div class="rounded-circle coloured-circles shadow d-flex justify-content-center align-items-center ms-4">
                  <img src="images/arr.png" style="width: 30px; height: 30px;" ></img>
                </div>
                <p class="text-center mb-0 ms-3 underline" style="font-weight: bold">
                  DBMS
                </p>
              </div>
              <div class="d-flex flex-column justify-content-center" >
                <div class="d-flex justify-content-start align-items-center my-3 ">
                  <img src="images/questions.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    45 MCQs
                  </p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-3 ">
                  <img src="images/timer.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    2 hours
                  </p>
                </div>
              </div>
              <div class="row">
                <a class="button btn px-3 m-auto mb-2 " href="#" style="width: 65%;">
                  Start
                </a>
              </div>
            </div>
            

          </div>
          <!-- end -->
          <!-- Individual boxes  -->
          <div class="col-lg-2 col-md-3 col-sm-6" style="width: 213px; height: 213px;">
            <div class="s-border">
              <div class="d-flex justify-content-start align-items-center mt-2" >
                <div class="rounded-circle coloured-circles shadow d-flex justify-content-center align-items-center ms-4">
                  <img src="images/arr.png" style="width: 30px; height: 30px;" ></img>
                </div>
                <p class="text-center mb-0 ms-3 underline" style="font-weight: bold">
                  DBMS
                </p>
              </div>
              <div class="d-flex flex-column justify-content-center" >
                <div class="d-flex justify-content-start align-items-center my-3 ">
                  <img src="images/questions.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    45 MCQs
                  </p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-3 ">
                  <img src="images/timer.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    2 hours
                  </p>
                </div>
              </div>
              <div class="row">
                <a class="button btn px-3 m-auto mb-2 " href="#" style="width: 65%;">
                  Start
                </a>
              </div>
            </div>
            

          </div>
          <!-- end -->
          <!-- Individual boxes  -->
          <div class="col-lg-2 col-md-3 col-sm-6" style="width: 213px; height: 213px;">
            <div class="s-border">
              <div class="d-flex justify-content-start align-items-center mt-2" >
                <div class="rounded-circle coloured-circles shadow d-flex justify-content-center align-items-center ms-4">
                  <img src="images/arr.png" style="width: 30px; height: 30px;" ></img>
                </div>
                <p class="text-center mb-0 ms-3 underline" style="font-weight: bold">
                  DBMS
                </p>
              </div>
              <div class="d-flex flex-column justify-content-center" >
                <div class="d-flex justify-content-start align-items-center my-3 ">
                  <img src="images/questions.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    45 MCQs
                  </p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-3 ">
                  <img src="images/timer.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    2 hours
                  </p>
                </div>
              </div>
              <div class="row">
                <a class="button btn px-3 m-auto mb-2 " href="#" style="width: 65%;">
                  Start
                </a>
              </div>
            </div>
            

          </div>
          <!-- end -->
        </div>

        <!-- APTITUDE -->
            <!-- start -->
        <div class="row my-5 d-flex flex-wrap justify-content-evenly view-topic-1 aptitude">
          <!-- Individual boxes  -->
          <div class="col-lg-2 col-md-3 col-sm-6" style="width: 213px; height: 213px;">
            <div class="s-border">
              <div class="d-flex justify-content-start align-items-center mt-2" >
                <div class="rounded-circle coloured-circles shadow d-flex justify-content-center align-items-center ms-4">
                  <img src="images/arr.png" style="width: 30px; height: 30px;" ></img>
                </div>
                <p class="text-center mb-0 ms-3 underline" style="font-weight: bold">
                  Percentage
                </p>
              </div>
              <div class="d-flex flex-column justify-content-center" >
                <div class="d-flex justify-content-start align-items-center my-3 ">
                  <img src="images/questions.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    45 MCQs
                  </p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-3 ">
                  <img src="images/timer.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    2 hours
                  </p>
                </div>
              </div>
              <div class="row">
                <a class="button btn px-3 m-auto mb-2 " href="#" style="width: 65%;">
                  Start
                </a>
              </div>
            </div>
            

          </div>
          <!-- end -->
          <!-- Individual boxes  -->
          <div class="col-lg-2 col-md-3 col-sm-6" style="width: 213px; height: 213px;">
            <div class="s-border">
              <div class="d-flex justify-content-start align-items-center mt-2" >
                <div class="rounded-circle coloured-circles shadow d-flex justify-content-center align-items-center ms-4">
                  <img src="images/arr.png" style="width: 30px; height: 30px;" ></img>
                </div>
                <p class="text-center mb-0 ms-3 underline" style="font-weight: bold">
                  Percentage
                </p>
              </div>
              <div class="d-flex flex-column justify-content-center" >
                <div class="d-flex justify-content-start align-items-center my-3 ">
                  <img src="images/questions.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    45 MCQs
                  </p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-3 ">
                  <img src="images/timer.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    2 hours
                  </p>
                </div>
              </div>
              <div class="row">
                <a class="button btn px-3 m-auto mb-2 " href="#" style="width: 65%;">
                  Start
                </a>
              </div>
            </div>
            

          </div>
          <!-- end -->
          <!-- Individual boxes  -->
          <div class="col-lg-2 col-md-3 col-sm-6" style="width: 213px; height: 213px;">
            <div class="s-border">
              <div class="d-flex justify-content-start align-items-center mt-2" >
                <div class="rounded-circle coloured-circles shadow d-flex justify-content-center align-items-center ms-4">
                  <img src="images/arr.png" style="width: 30px; height: 30px;" ></img>
                </div>
                <p class="text-center mb-0 ms-3 underline" style="font-weight: bold">
                  Percentage
                </p>
              </div>
              <div class="d-flex flex-column justify-content-center" >
                <div class="d-flex justify-content-start align-items-center my-3 ">
                  <img src="images/questions.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    45 MCQs
                  </p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-3 ">
                  <img src="images/timer.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    2 hours
                  </p>
                </div>
              </div>
              <div class="row">
                <a class="button btn px-3 m-auto mb-2 " href="#" style="width: 65%;">
                  Start
                </a>
              </div>
            </div>
            

          </div>
          <!-- end -->
          <!-- Individual boxes  -->
          <div class="col-lg-2 col-md-3 col-sm-6" style="width: 213px; height: 213px;">
            <div class="s-border">
              <div class="d-flex justify-content-start align-items-center mt-2" >
                <div class="rounded-circle coloured-circles shadow d-flex justify-content-center align-items-center ms-4">
                  <img src="images/arr.png" style="width: 30px; height: 30px;" ></img>
                </div>
                <p class="text-center mb-0 ms-3 underline" style="font-weight: bold">
                  Percentage
                </p>
              </div>
              <div class="d-flex flex-column justify-content-center" >
                <div class="d-flex justify-content-start align-items-center my-3 ">
                  <img src="images/questions.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    45 MCQs
                  </p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-3 ">
                  <img src="images/timer.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    2 hours
                  </p>
                </div>
              </div>
              <div class="row">
                <a class="button btn px-3 m-auto mb-2 " href="#" style="width: 65%;">
                  Start
                </a>
              </div>
            </div>
            

          </div>
          <!-- end -->
          <!-- Individual boxes  -->
          <div class="col-lg-2 col-md-3 col-sm-6" style="width: 213px; height: 213px;">
            <div class="s-border">
              <div class="d-flex justify-content-start align-items-center mt-2" >
                <div class="rounded-circle coloured-circles shadow d-flex justify-content-center align-items-center ms-4">
                  <img src="images/arr.png" style="width: 30px; height: 30px;" ></img>
                </div>
                <p class="text-center mb-0 ms-3 underline" style="font-weight: bold">
                  Percentage
                </p>
              </div>
              <div class="d-flex flex-column justify-content-center" >
                <div class="d-flex justify-content-start align-items-center my-3 ">
                  <img src="images/questions.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    45 MCQs
                  </p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-3 ">
                  <img src="images/timer.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    2 hours
                  </p>
                </div>
              </div>
              <div class="row">
                <a class="button btn px-3 m-auto mb-2 " href="#" style="width: 65%;">
                  Start
                </a>
              </div>
            </div>
            

          </div>
          <!-- end -->
          <!-- Individual boxes  -->
          <div class="col-lg-2 col-md-3 col-sm-6" style="width: 213px; height: 213px;">
            <div class="s-border">
              <div class="d-flex justify-content-start align-items-center mt-2" >
                <div class="rounded-circle coloured-circles shadow d-flex justify-content-center align-items-center ms-4">
                  <img src="images/arr.png" style="width: 30px; height: 30px;" ></img>
                </div>
                <p class="text-center mb-0 ms-3 underline" style="font-weight: bold">
                  Percentage
                </p>
              </div>
              <div class="d-flex flex-column justify-content-center" >
                <div class="d-flex justify-content-start align-items-center my-3 ">
                  <img src="images/questions.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    45 MCQs
                  </p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-3 ">
                  <img src="images/timer.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    2 hours
                  </p>
                </div>
              </div>
              <div class="row">
                <a class="button btn px-3 m-auto mb-2 " href="#" style="width: 65%;">
                  Start
                </a>
              </div>
            </div>
            

          </div>
          <!-- end -->
        </div>

        <!-- VERBAL -->
            <!-- start -->
        <div class="row my-5 d-flex flex-wrap justify-content-evenly view-topic-1 verbal">
          <!-- Individual boxes  -->
          <div class="col-lg-2 col-md-3 col-sm-6" style="width: 213px; height: 213px;">
            <div class="s-border">
              <div class="d-flex justify-content-start align-items-center mt-2" >
                <div class="rounded-circle coloured-circles shadow d-flex justify-content-center align-items-center ms-4">
                  <img src="images/arr.png" style="width: 30px; height: 30px;" ></img>
                </div>
                <p class="text-center mb-0 ms-3 underline" style="font-weight: bold">
                  Syllogism
                </p>
              </div>
              <div class="d-flex flex-column justify-content-center" >
                <div class="d-flex justify-content-start align-items-center my-3 ">
                  <img src="images/questions.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    45 MCQs
                  </p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-3 ">
                  <img src="images/timer.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    2 hours
                  </p>
                </div>
              </div>
              <div class="row">
                <a class="button btn px-3 m-auto mb-2 " href="#" style="width: 65%;">
                  Start
                </a>
              </div>
            </div>
            

          </div>
          <!-- end -->
          <!-- Individual boxes  -->
          <div class="col-lg-2 col-md-3 col-sm-6" style="width: 213px; height: 213px;">
            <div class="s-border">
              <div class="d-flex justify-content-start align-items-center mt-2" >
                <div class="rounded-circle coloured-circles shadow d-flex justify-content-center align-items-center ms-4">
                  <img src="images/arr.png" style="width: 30px; height: 30px;" ></img>
                </div>
                <p class="text-center mb-0 ms-3 underline" style="font-weight: bold">
                  Syllogism
                </p>
              </div>
              <div class="d-flex flex-column justify-content-center" >
                <div class="d-flex justify-content-start align-items-center my-3 ">
                  <img src="images/questions.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    45 MCQs
                  </p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-3 ">
                  <img src="images/timer.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    2 hours
                  </p>
                </div>
              </div>
              <div class="row">
                <a class="button btn px-3 m-auto mb-2 " href="#" style="width: 65%;">
                  Start
                </a>
              </div>
            </div>
            

          </div>
          <!-- end -->
          <!-- Individual boxes  -->
          <div class="col-lg-2 col-md-3 col-sm-6" style="width: 213px; height: 213px;">
            <div class="s-border">
              <div class="d-flex justify-content-start align-items-center mt-2" >
                <div class="rounded-circle coloured-circles shadow d-flex justify-content-center align-items-center ms-4">
                  <img src="images/arr.png" style="width: 30px; height: 30px;" ></img>
                </div>
                <p class="text-center mb-0 ms-3 underline" style="font-weight: bold">
                  Syllogism
                </p>
              </div>
              <div class="d-flex flex-column justify-content-center" >
                <div class="d-flex justify-content-start align-items-center my-3 ">
                  <img src="images/questions.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    45 MCQs
                  </p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-3 ">
                  <img src="images/timer.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    2 hours
                  </p>
                </div>
              </div>
              <div class="row">
                <a class="button btn px-3 m-auto mb-2 " href="#" style="width: 65%;">
                  Start
                </a>
              </div>
            </div>
            

          </div>
          <!-- end -->
          <!-- Individual boxes  -->
          <div class="col-lg-2 col-md-3 col-sm-6" style="width: 213px; height: 213px;">
            <div class="s-border">
              <div class="d-flex justify-content-start align-items-center mt-2" >
                <div class="rounded-circle coloured-circles shadow d-flex justify-content-center align-items-center ms-4">
                  <img src="images/arr.png" style="width: 30px; height: 30px;" ></img>
                </div>
                <p class="text-center mb-0 ms-3 underline" style="font-weight: bold">
                  Syllogism
                </p>
              </div>
              <div class="d-flex flex-column justify-content-center" >
                <div class="d-flex justify-content-start align-items-center my-3 ">
                  <img src="images/questions.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    45 MCQs
                  </p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-3 ">
                  <img src="images/timer.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    2 hours
                  </p>
                </div>
              </div>
              <div class="row">
                <a class="button btn px-3 m-auto mb-2 " href="#" style="width: 65%;">
                  Start
                </a>
              </div>
            </div>
            

          </div>
          <!-- end -->
          <!-- Individual boxes  -->
          <div class="col-lg-2 col-md-3 col-sm-6" style="width: 213px; height: 213px;">
            <div class="s-border">
              <div class="d-flex justify-content-start align-items-center mt-2" >
                <div class="rounded-circle coloured-circles shadow d-flex justify-content-center align-items-center ms-4">
                  <img src="images/arr.png" style="width: 30px; height: 30px;" ></img>
                </div>
                <p class="text-center mb-0 ms-3 underline" style="font-weight: bold">
                  Syllogism
                </p>
              </div>
              <div class="d-flex flex-column justify-content-center" >
                <div class="d-flex justify-content-start align-items-center my-3 ">
                  <img src="images/questions.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    45 MCQs
                  </p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-3 ">
                  <img src="images/timer.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    2 hours
                  </p>
                </div>
              </div>
              <div class="row">
                <a class="button btn px-3 m-auto mb-2 " href="#" style="width: 65%;">
                  Start
                </a>
              </div>
            </div>
            

          </div>
          <!-- end -->
          <!-- Individual boxes  -->
          <div class="col-lg-2 col-md-3 col-sm-6" style="width: 213px; height: 213px;">
            <div class="s-border">
              <div class="d-flex justify-content-start align-items-center mt-2" >
                <div class="rounded-circle coloured-circles shadow d-flex justify-content-center align-items-center ms-4">
                  <img src="images/arr.png" style="width: 30px; height: 30px;" ></img>
                </div>
                <p class="text-center mb-0 ms-3 underline" style="font-weight: bold">
                  Syllogism
                </p>
              </div>
              <div class="d-flex flex-column justify-content-center" >
                <div class="d-flex justify-content-start align-items-center my-3 ">
                  <img src="images/questions.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    45 MCQs
                  </p>
                </div>
                <div class="d-flex justify-content-start align-items-center mb-3 ">
                  <img src="images/timer.png" style="width: 20px; height: 20px;" class="ms-4"></img>
                  <p class="mb-0 ms-4 " style="font-weight: bold">
                    2 hours
                  </p>
                </div>
              </div>
              <div class="row">
                <a class="button btn px-3 m-auto mb-2 " href="#" style="width: 65%;">
                  Start
                </a>
              </div>
            </div>
            

          </div>
          <!-- end -->
        </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/topic-dropdown.js"></script>
</body>
</html>