<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%=title%>
  </title>
  <%- include('_styles'); %>
  <!-- Swiper -->
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
  <!-- External css -->
  <link rel="stylesheet" href="/css/home.css" />
  <link rel="stylesheet" href="/css/slider.css" />
</head>

<body>
  <!-- ************************************hero sec********************************************* -->
  <section class="">
    <div class="hero-image-container"></div>
    <!--******************* nav bar **************-->
    <%- include('_navbar'); %>
    <!-- ********************navbar end ************************-->
    <div class="container-fluid mt-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div class="col-9">
              <h1>
                Improve Your Skills As the World Needs with
                <span class="brand-name">GrabItt</span>
              </h1>
            </div>
          </div>
          <div class="col-lg-6">
            <img src="/images/undraw_reading_re_29f8.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- *****************************************feature-sec ***************************-->

  <section id="features" class="py-5">
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <h2 class="text-center py-2 border-short headline">Our Features</h2>
        </div>
        <div class="row text-muted text-justify py-5">
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            velit at quidem eligendi maxime officiis inventore, laboriosam
            sapiente placeat, voluptates, eaque reprehenderit doloribus?
            Numquam, praesentium. Lorem ipsum dolor sit amet consectetur
            adipisicing elit.
          </p>
        </div>
        <div class="row">
          <!-- Individual boxes  -->
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="round-corner">
              <div class="rounded-circle d-flex justify-content-center coloured-circles mt-4 shadow m-auto">
                <i class="fas fa-book-open pt-3" style="font-size: 30px; color: var(--primary)"></i>
              </div>
              <div class="px-3 pt-4">
                <h5 class="text-center">Accurate</h5>
                <p class="text-center mb-0" style="font-weight: bold">
                  Track student environment
                </p>
                <p class="text-center mb-4 pt-1">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Illum, quasi?
                </p>
              </div>
            </div>
          </div>

          <!-- Individual boxes  -->
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="round-corner">
              <div class="rounded-circle d-flex justify-content-center coloured-circles mt-4 shadow m-auto">
                <i class="fas fa-book-open pt-3" style="font-size: 30px; color: var(--primary)"></i>
              </div>
              <div class="px-3 pt-4">
                <h5 class="text-center">Accurate</h5>
                <p class="text-center mb-0" style="font-weight: bold">
                  Track student environment
                </p>
                <p class="text-center mb-4 pt-1">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Illum, quasi?
                </p>
              </div>
            </div>
          </div>
          <!-- Individual boxes  -->
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="round-corner">
              <div class="rounded-circle d-flex justify-content-center coloured-circles mt-4 shadow m-auto">
                <i class="fas fa-book-open pt-3" style="font-size: 30px; color: var(--primary)"></i>
              </div>
              <div class="px-3 pt-4">
                <h5 class="text-center">Accurate</h5>
                <p class="text-center mb-0" style="font-weight: bold">
                  Track student environment
                </p>
                <p class="text-center mb-4 pt-1">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Illum, quasi?
                </p>
              </div>
            </div>
          </div>
          <!-- Individual boxes  -->
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="round-corner">
              <div class="rounded-circle d-flex justify-content-center coloured-circles mt-4 shadow m-auto">
                <i class="fas fa-book-open pt-3" style="font-size: 30px; color: var(--primary)"></i>
              </div>
              <div class="px-3 pt-4">
                <h5 class="text-center">Accurate</h5>
                <p class="text-center mb-0" style="font-weight: bold">
                  Track student environment
                </p>
                <p class="text-center mb-4 pt-1">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Illum, quasi?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- *****************************************courses-sec ************************ -->

  <section class="py-5" style="background-color: var(--ash);">
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <h2 class="text-center py-2 border-short headline">Our Courses</h2>
        </div>
        <div class="row text-muted text-justify py-5">
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            velit at quidem eligendi maxime officiis inventore, laboriosam
            sapiente placeat, voluptates, eaque reprehenderit doloribus?
            Numquam, praesentium. Lorem ipsum dolor sit amet consectetur
            adipisicing elit.
          </p>
        </div>
        <div class="row" id="slider">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="border box" style="background-color: white;">
                  <div class="course-img pt-5 pb-4">
                    <img src="images/undraw_online_test_gba7 .svg" alt="Course-image">
                  </div>
                  <div class="px-3 pt-4">
                    <!-- <h5 class="text-center">Accurate</h5> -->
                    <p class="text-center mb-0" style="font-weight: bold">
                      Computer Networks 1
                    </p>
                    <p class="text-center mb-4 pt-1">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Illum, quasi?
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="border box" style="background-color: white;">
                  <div class="course-img pt-5 pb-4">
                    <img src="images/undraw_online_test_gba7 .svg" alt="Course-image">
                  </div>
                  <div class="px-3 pt-4">
                    <!-- <h5 class="text-center">Accurate</h5> -->
                    <p class="text-center mb-0" style="font-weight: bold">
                      Computer Networks 2
                    </p>
                    <p class="text-center mb-4 pt-1">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Illum, quasi?
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="border box" style="background-color: white;">
                  <div class="course-img pt-5 pb-4">
                    <img src="images/undraw_online_test_gba7 .svg" alt="Course-image">
                  </div>
                  <div class="px-3 pt-4">
                    <!-- <h5 class="text-center">Accurate</h5> -->
                    <p class="text-center mb-0" style="font-weight: bold">
                      Computer Networks 3
                    </p>
                    <p class="text-center mb-4 pt-1">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Illum, quasi?
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="border box" style="background-color: white;">
                  <div class="course-img pt-5 pb-4">
                    <img src="images/undraw_online_test_gba7 .svg" alt="Course-image">
                  </div>
                  <div class="px-3 pt-4">
                    <!-- <h5 class="text-center">Accurate</h5> -->
                    <p class="text-center mb-0" style="font-weight: bold">
                      Computer Networks 4
                    </p>
                    <p class="text-center mb-4 pt-1">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Illum, quasi?
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="border box" style="background-color: white;">
                  <div class="course-img pt-5 pb-4">
                    <img src="images/undraw_online_test_gba7 .svg" alt="Course-image">
                  </div>
                  <div class="px-3 pt-4">
                    <!-- <h5 class="text-center">Accurate</h5> -->
                    <p class="text-center mb-0" style="font-weight: bold">
                      Computer Networks 5
                    </p>
                    <p class="text-center mb-4 pt-1">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Illum, quasi?
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- *****************************************testimonials ***************************-->
  <section class="py-5">
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <h2 class="text-center py-2 border-short headline">Testimonials</h2>
        </div>
      </div>
    </div>

  </section>
  <!-- *****************************************get in touch ***************************-->
  <section id="contact-us" class="mb-3">
    <div class="container-fluid mt-0">
      <div class="container ">
        <div class="row justify-content-center">
          <div class="col-lg-6  align-self-center">
            <div class="row">
              <h2 class="headline">
                Learn how
                <span class="brand-name">GrabItt</span> <br>
                can help you in getting your dream job...
              </h2>
            </div>
            <div class="row">
              <h5 class="mb-0 pt-5 pb-3" style="font-weight: bold; color: var(--primary);">
                Subscribe us
              </h5>
            </div>

            <form action="#" method="post">
              <div class="row ">
                <div class="col-sm-6 description ">
                  <input type="text" class="form-control" placeholder="Enter email Address">
                </div>
                <div class="col-sm-6 shift-left ">
                  <button type="submit" class="btn button px-3 py-2 mt-0">Send</button>
                </div>
              </div>
            </form>

          </div>
          <div class="col-lg-6 d-flex flex-row ">
            <img src="images/contact.svg" alt="" class="m-auto"/>
            <div class="d-flex flex-column justify-content-end pb-4 ms-0">
              <div class="row  mb-5 ">
                <div class="col mx-2 contact ">

                </div>
                <div class="col mx-2 contact ">

                </div>
              </div>
              <div class="row mb-5 ">
                <div class="col mx-2 contact ">

                </div>
                <div class="col mx-2 contact ">

                </div>
              </div>
              <div class="row mb-5 ">
                <div class="col mx-2 contact ">

                </div>
                <div class="col mx-2 contact ">

                </div>
              </div>
              <div class="row mb-5 ">
                <div class="col mx-2 contact ">

                </div>
                <div class="col mx-2 contact ">

                </div>
              </div>

            </div>
          </div>


        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- *****************************************footer ***************************-->
  <%- include('_footer'); %>

  <!-- Scripts -->
  
  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
    <!-- Swiper -->
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <!-- Slider -->
  <script src="/js/slide.js"></script>
</body>

</html>