<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
<<<<<<< HEAD
    hiiiiihelloooo
=======
    hiiiii
    Hello
>>>>>>> 102e2b24c45fe3c9522f60ac6f98911fc1bcc9a2
  </body>
</html>
