<form action="/signup" id="fill-it" method="post">
  <div>
    <label for="email">Email: </label>
    <input
      type="email"
      placeholder="Enter your email"
      id="email"
      name="email"
      required
    />
  </div>
  <div>
    <label for="pass">Password: </label>
    <input
      type="password"
      placeholder="Enter your password"
      id="pass"
      name="password"
      required
    />
  </div>

  <div>
    <button type="submit" class="btn center">Sign Up</button>
  </div>
</form>
<div class="item-1">
  <p>Already have an account?</p>
  <button class="btn">Sign In</button>
</div>
