<!DOCTYPE html>

<html>

<head>

    <title>
        Test
    </title>

    <%- include('./partials/styles'); %>
    <!-- External css-->
    <link rel="stylesheet" href="/css/test.css">

</head>

<body>
    <section id="body-color">
        <div class="container-fluid p-4 ">
            <div class="row">
                <div class="col-lg-9  shadow-sm bg-white">
                    <h2 class="logo m-3 mb-2">GrabItt</h2>
                    <div class="position-relative">
                        <h4 class="ms-3">Trees(Data Structure)</h4>
                        <div class="position-absolute top-0 end-0  shadow-sm">
                            <i class="fa-solid fa-hourglass "></i>
                            <span>1:40:20 left</span>
                        </div>
                    </div>
                    <h6 class="ms-3 mb-4">Test id: 1567834b6ax</h6>
                </div>
                <!-- ---------- -->
                <div class=" col-lg-3 shadow-sm bg-white">
                    <div class="row ">
                        <div class="col-5 ">
                            <div class="d-flex my-4">
                                <img src="images/girl.jpg" alt="profile.pic" class="profile-pic shadow-sm ">
                            </div>
                        </div>
                        <div class="col subjects mt-4">
                            <h5>Rashmi
                                Prasad Roy</h5>
                            <p class="mb-0">Attempted : 5/45</p>
                            <p class="mt-0 ">Remaining : 40/45</p>
                        </div>
                    </div>
                </div>
                <!-- ----------- -->
            </div>

            <div class="row  my-3">
                <div class="col-lg-9 shadow-sm bg-white ">
                    <div class="row">
                        <h6>
                            <div>
                                1. The postorder traversal of a binary tree is 8,9,6,7,4,5,2,3,1. The inorder Tree
                                traversal of the same tree is 8,6,9,4,7,2,5,1,3. The height of a tree is the length
                               of the longest path from the root to any leaf. The height of the above binary tree is :
                            </div>
                            
                        </h6>
                        <div class="px-5">
                            <!-- <div class="row">
                                public void func(Tree root)
                            </div>
                            <div class="row">
                                {
                            </div>
                            <div class="row ps-2">
                                func(root.left());
                            </div>
                            <div class="row ps-3">
                                func(root.right());
                            </div>
                            <div class="row ps-2">
                                System.out.println(root.data());
                            </div>
                            <div class="row">
                                }
                            </div> -->
                         
                        </div>
                    </div>
                </div>
                <!------  -->
                <div class="col-lg-3 shadow-sm bg-white">
                    <div class="row mx-3 pt-3">
                        <h6>Exam Instructions</h6>
                        <ol>
                            <li>
                                You must use a functioning webcam and microphone.
                            </li>
                            <li>
                                No cell phones or other secondary devices in the room or
                                test area.
                            </li>
                            <li>
                                Your desk/table must be clear or any materials except your
                                test-taking device.
                            </li>
                            <li>
                                No one else can be in the room with you.
                            </li>
                            <li>
                                No talking.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 shadow-sm bg-white ">

                </div>
                <div class="col-lg-3 shadow-sm bg-white ">
                    <h6 class="m-2">Questions</h6>
                    <div class=" row ans-status">
                        <div class="col ms-0"><i class="fa-solid fa-square ms-0" style="color:#A0E6B7"></i>Answered
                        </div>
                        <div class="col ms-0"><i class="fa-solid fa-square ms-0" style="color:#F7B2B2"></i>Unanswered
                        </div>
                        <div class="col ms-0"><i class="fa-solid fa-square ms-0" style="color:#B9B5F6"></i>Review Later
                        </div>
                    </div>
                    <div class=" scroll-bg">
                        <div class="row scroll-div">
                            <div class="row m-auto mt-3">
                                <div class="col">
                                    <button type="button" class="btn  btn-circle" style="background-color:#A0E6B7">1
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn  btn-circle" style="background-color:#F7B2B2">2
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn  btn-circle" style="background-color:#B9B5F6">3
                                </div>
                                <div class="col">
                                    <button type="button" class="btn  btn-circle" style="background-color:#A0E6B7">4
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-circle" style="background-color:#B9B5F6">5
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn  btn-circle" style="background-color:#F7B2B2">6
                                    </button>
                                </div>
                            </div>
                            <div class="row m-auto mt-3">
                                <div class="col">
                                    <button type="button" class="btn  btn-circle" style="background-color:#A0E6B7">1
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn  btn-circle" style="background-color:#F7B2B2">2
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn  btn-circle" style="background-color:#B9B5F6">3
                                </div>
                                <div class="col">
                                    <button type="button" class="btn  btn-circle" style="background-color:#A0E6B7">4
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-circle" style="background-color:#B9B5F6">5
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn  btn-circle" style="background-color:#F7B2B2">6
                                    </button>
                                </div>
                            </div>
                            <div class="row m-auto mt-3">
                                <div class="col">
                                    <button type="button" class="btn  btn-circle" style="background-color:#A0E6B7">1
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn  btn-circle" style="background-color:#F7B2B2">2
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn  btn-circle" style="background-color:#B9B5F6">3
                                </div>
                                <div class="col">
                                    <button type="button" class="btn  btn-circle" style="background-color:#A0E6B7">4
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-circle" style="background-color:#B9B5F6">5
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn  btn-circle" style="background-color:#F7B2B2">6
                                    </button>
                                </div>
                            </div>
                            <div class="row m-auto mt-3 ">
                                <div class="col">
                                    <button type="button" class="btn  btn-circle" style="background-color:#A0E6B7">1
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn  btn-circle" style="background-color:#F7B2B2">2
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn  btn-circle" style="background-color:#B9B5F6">3
                                </div>
                                <div class="col">
                                    <button type="button" class="btn  btn-circle" style="background-color:#A0E6B7">4
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-circle" style="background-color:#B9B5F6">5
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn  btn-circle" style="background-color:#F7B2B2">6
                                    </button>
                                </div>
                            </div>
                            <div class="row m-auto mt-3 ">
                                <div class="col">
                                    <button type="button" class="btn  btn-circle" style="background-color:#A0E6B7">1
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn  btn-circle" style="background-color:#F7B2B2">2
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn  btn-circle" style="background-color:#B9B5F6">3
                                </div>
                                <div class="col">
                                    <button type="button" class="btn  btn-circle" style="background-color:#A0E6B7">4
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-circle" style="background-color:#B9B5F6">5
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn  btn-circle" style="background-color:#F7B2B2">6
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row ">
                        <div class="col">
                            <div class=" mb-3">
                                <button class="btn btn-for-view shadow px-4">Review Later</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class=" mb-3">
                                <button class="btn btn-for-view shadow px-4">Save & next</button>
                            </div>
                        </div>
                    </div>



                </div>
            </div>




        </div>
    </section>














    <script src="" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>

</html>