.size
{
    min-width: 130px;
    cursor: pointer;
}
.size2
{
    min-width: 269px;
    cursor: pointer;
}
.coloured-circles
{
  background-color: white;
}
.extra
{
  transform: scale(1);
  transition: .3s ease-in-out;
}
.extra:hover
{
  transform: scale(0.9);
}
.incre {
    width: 100px;
    height: 100px;
  }

  .incre>img{
    height: 60px;
    width: 60px;
  }

  .round-corner
  {
    background-color: var(--highlight);
    background-color: #f84f46;
   
    /* background-color: #66b0f0; */
  }

  .underline
  {
    border-bottom: 2px solid var(--danger);
  }

  .s-border
  {
    border-radius: 15px;
    box-shadow: 5px 0 4px -6px #70707085, -5px 0 4px -6px #70707085
    
  }

  /* TODO */

  .view-topic-1
  {
    position: absolute;
    visibility:hidden;
    /* display: none !important; */
  }

  .show
  {
    position: static;
    visibility: visible !important;
    /* display: block !important; */
  }

  p{
    font-family: 'Poppins';
    color: var(--secondary);
  }

  .styling
  {
    font-family: 'Poppins';
    font-weight: 600;
  }

  .neu
  {
    border-radius: 5%;
    box-shadow:  -3px -3px 7px rgba(213, 208, 208, 0.929), 3px 3px 5px rgba(231, 235, 241, 0.288) !important;
  }
  .neu2
  {
    box-shadow: -3px -3px 7px #ffffff73,3px 3px 5px rgb(94, 104, 121,.288) !important;
    transform: scale(1);
    /* transition: all .8s ease-in-out; */
    /* cursor: pointer; */
  }
  .neu2:hover
  {
    transform: scale(1.1);
    box-shadow: inset -3px -3px 7px #ffffff73,inset 3px 3px 5px rgb(94, 104, 121,.288) !important;
  }