/********************** navbar *********************/
.button {
  border: none;
  border-radius: 0.25rem;
  color: var(--secondary);
  background-color: var(--highlight);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 4px 2px;
}
.button:hover {
  background-color: rgb(250, 204, 52);
}
#brand-name {
  font-family: "Lobster", cursive;
  color: var(--primary);
}

/* *******************Hero section *********************/
.hero-image-container {
  background-color: var(--primary);
  /* clip-path: polygon(39% 0, 100% 0, 100% 100%, 0% 100%); */
  clip-path: polygon(65% 0%, 100% 0%, 100% 100%, 40% 100%);
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: -1;
}

/* ***************Features************* */

/* The customed underline */
.border-short {
  color: var(--headings);
  font-weight: bold;
  position: relative;
  display: inline-block;
}
.border-short::after {
  content: "";
  width: 8%;
  height: 0.1rem;
  background: var(--danger);
  position: absolute;
  left: calc(50% - 4%);
  bottom: 0;
}

@media screen and (max-width: 790px) {
  .border-short::after {
    width: 20%;
    left: calc(50% - 10%);
  }
}
/* For feature's card designing */
.round-corner {
  border: 2px solid var(--ash);
  border-radius: 45px 15px 15px 15px;
  box-shadow: -3px 0 5px -2px var(--shadow);
}
/* for circles with icons inside */
.coloured-circles {
  background-color: var(--ash);
  width: 60px;
  margin: auto;
  height: 60px;
}

h5,
p {
  font-family: "Poppins", sans-serif;
}
.description {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

/* Course */



