
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap');

body{
    background-color: #F5F5F5;
}
a{
    text-decoration: none;
    color:#FFC300;
}
h4{
    color:white;
    font-weight: 500;
}


/* **************** name box***************************************/
  .college-name{
    font-family: 'Kalam', cursive;
  }
  .btn{
      color:#080880;
      font-weight: 600;
      background-color: white;
  }
  .info{
      background-color: #A2A2EE;
  }