@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:wght@300;700&family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary: #5463ff;
  --ash: #f5f5f5;
  --highlight: #ffc300;
  --secondary: #2f2e41;
  --headings: #5e5e5e;
  --danger: #ff1818;
  --shadow: #707070;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
/* p{
    color:var(--ash);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
} */
h1 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: var(--secondary);
  font-size: 3rem;
}
h2 {
  font-family: "Merriweather", serif;
}

.headline {
  color: var(--headings);
  font-weight: bold;
}
/************************** navbar********************* */
a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-decoration: none;
}
.navbar {
  padding: 2% 5%;
}
.logo {
  font-family: "Lobster", cursive;
  color: var(--primary);
}

/* Footer */
.paint-white {
  color: var(--ash) !important;
}
.text-purple {
  font-family: "poppins";
  color: #080880;
  font-weight: 600;
}
/********************** navbar *********************/
.button {
  border: none;
  border-radius: 0.25rem;
  color: var(--secondary);
  background-color: var(--highlight);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 4px 2px;
}
.button:hover {
  background-color: rgb(250, 204, 52);
}
.brand-name {
  font-family: "Lobster", cursive;
  color: var(--primary);
}

/*  */
