@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:wght@300;700&family=Poppins:wght@400;600;700&display=swap');

:root
{
    --primary: #5463FF;
    --ash: #F5F5F5;
    --highlight: #ffc300;
    --secondary:#2f2e41;
    --headings:#5E5E5E;
    --danger:#ff1818;
}
/* p{
    color:var(--ash);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
} */
h1{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color: var(--secondary);
}
h2{
    font-family: 'Merriweather', serif;
    
}
/************************** navbar********************* */
a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.navbar{
    padding:2% 5%;
  
}
.logo{
    font-family: 'Lobster', cursive;
    color:var(--primary);
}
